<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css">
	<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="js/estimation.js"></script>
</head>
<body class="closed-menu">

<nav class="vertical-menu-wrapper">
  <div class="vertical-menu-logo">
    <div>Inquiry</div>
    <span class="open-menu-btn"><hr><hr><hr></span>
  </div>
  <ul class="vertical-menu">
    <li>Schedule</li>
    <li>Event</li>
    <hr />
    <li>Setting</li>
    <li>Privacy</li>
    <li id="user-info">LTIMindtree<span>LTI</span></li>
  </ul>
</nav>

<div class="content-wrapper">
  <div class="contentH">
    
	<div class="topBar">
            	<img class="logo" src="images/LTI_Logo.png">
		<p class="topBar-Text">Project Estimation</p>
        </div>

  </div>
  <div class="content">
   Details Page 
  </div>
</div>

</body>
</html>