<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css">
	<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="js/estimation.js"></script>
</head>
<body class="closed-menu">

<nav class="vertical-menu-wrapper">
  <div class="vertical-menu-logo">
    <div>Inquiry</div>
    <span class="open-menu-btn"><hr><hr><hr></span>
  </div>
  <ul class="vertical-menu">
    <li>Schedule</li>
    <li>Event</li>
    <hr />
    <li>Setting</li>
    <li>Privacy</li>
    <li id="user-info">LTIMindtree<span>LTI</span></li>
  </ul>
</nav>

<div class="content-wrapper">
  <div class="contentH">
    
	<div class="topBar">
            	<img class="logo" src="images/LTI_Logo.png">
		<p class="topBar-Text">Project Estimation</p>
        </div>

  </div>
  <div class="content">
    <form id="idForm">
        <table>
          <caption>Prospect Details</caption>
          <tr>
            <td>Name</td>
            <td><input type="text" id="idName" name="name"></td>
          </tr>
          <tr>
            <td>Region</td>
            <td><input type="text" id="idRegion" name="region"></td>
          </tr>
          <tr>
            <td>BSG Contact</td>
            <td><input type="text" id="idBsgContact"  name="bsgContact"></td>
          </tr>
          <tr>
            <td>PDM contact</td>
            <td><input type="text" id="idPdmContact" name="pdmContact"></td>
          </tr>
          <tr>
            <td>Tfocus ID</td>
            <td><input type="text" id="idTFocus" name="tFocus"></td>
          </tr>
          <tr>
            <td>CEM Team(Manager,TFT)</td>
            <td><input type="text" id="idCemTeam" name="cemTeam"></td>
          </tr>
        </table>
        <button id="idNext">Next</button>
      </form> 
  </div>
</div>

</body>
</html>