
<html>

<head>
	<link rel="stylesheet" href="css/estimation.css">
</head>
<body>
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Project Estimation</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form>
              <div class="input_field select_option">
                <select name="appType">
                  <option>Select application type</option>
                  <option value="Web">Web</option>
                  <option value="Mobile">Mobile</option>
		  <option value="IoT">IoT</option>
                </select>
                <div class="select_arrow"></div>
              </div>

          <div class="input_field"> 
		<span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="number" name="month" placeholder="Duration in Months" required />
          </div>
         

              <div class="input_field select_option">
                <select name="appModule" multiple size="8" style="height: auto;">
                  <option>Select Modules</option>
                  <option value="Authentication">Authentication</option>
                  <option value="Upload File">Upload File</option>
		  <option value="Payment Getway">Payment Getway</option>
		  <option value="Report - PDF">Report - PDF</option>
		  <option value="Email">Email</option>
                </select>
                
              </div>
        
          <input class="button" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
</div>

<p class="credit">Developed by Sachin & Sushant @ <a href="https://www.ltimindtree.com/" target="_blank">LTIMindtree</a></p>

<body>
</html>