
<html>

<head>
	<link rel="stylesheet" href="css/estimation.css">
</head>
<body>
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Estimation Framework</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form>
              <div class="input_field select_option">
              <div> Channels</div>
              <label for="Mobile"> Mobile</label>
  <input type="checkbox" id="mobile" name="mobile" value="mobile"><br>
<label for="Tablet"> Tablet</label>
<input type="checkbox" id="Tablet" name="Tablet" value="Tablet"><br>
<label for="Responsive web"> Responsive web </label>
<input type="checkbox" id="Responsive" name="Responsive" value="Responsive">
               
              </div>

          <div class="input_field"> 
		<span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="number" name="month" placeholder="Duration in Months" required />
          </div>
         

              <div class="input_field select_option">
                <select name="appModule" multiple size="8" style="height: auto;">
                  <option>Select Modules</option>
                  <option value="Authentication">Authentication</option>
                  <option value="Upload File">Upload File</option>
		  <option value="Payment Getway">Payment Getway</option>
		  <option value="Report - PDF">Report - PDF</option>
		  <option value="Email">Email</option>
                </select>
                
              </div>
        
          <input class="button" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
</div>

<p class="credit">Developed by Sachin & Sushant @ <a href="https://www.ltimindtree.com/" target="_blank">LTIMindtree</a></p>

</body>
</html>