<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{css/assumption.css}">
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script> -->
<script th:src="@{js/assumption.js}"></script>
</head>
<body class="closed-menu">

	<nav class="vertical-menu-wrapper">
		<div class="vertical-menu-logo">
			<div id="idCompName" style="visibility: hidden; color: #379ece;">LTIMindtree</div>
			<span class="open-menu-btn">
				<hr id="burger1" />
				<hr id="burger2" />
				<hr id="burger3" />
			</span>
		</div>
		<ul class="vertical-menu">
			<li><a href="/home">Home</a></li>
			<li><a href="/estimation">Estimation</a></li>
			<li><a href="/questions">RFP Questions</a></li>
			<li><a href="/assumptions">RFP Assumptions</a></li>
			<li><a href="/risk">Risk</a></li>
		</ul>
		<button id="idBtnQueries" name="btnQueries">Ask Queries</button>
		<ul class="vertical-menu">
			<li id="user-info">LTIMindtree<span>LTI</span></li>
		</ul>
	</nav>

	<div class="content-wrapper">
		<div class="contentH">

			<div class="topBar">
				<img class="logo" src="images/LTI_Logo.png">
				<p class="topBar-Text">Project Estimation</p>
			</div>

		</div>
		<div class="content">
			<form id="idForm">
				<div id="idParentDiv">

					<table id="idAssumption">
						<thead>
							<tr>
								<th class="td1">Select All<br> <input type="checkbox"
									id="idSelectAll" />
								</th>
								<th class="td2">Sr. No.</th>
								<th class="td3">Module</th>
								<th class="td4">Sub Module</th>
								<th class="td5">Product Mapping</th>
							</tr>
						</thead>
						<tbody>


							<div th:remove="tag" th:each="moduleslist:${modules}"
								th:with="articleCount=${moduleslist.submodule.size()}">
								<tr>
									<td th:rowspan="${moduleslist.submodule.size()}" class="td1"><input
										type="checkbox" name="assum" class="checkBoxClass"
										value="@{moduleslist.moduleId}"></td>
									<td th:text="${moduleslist.moduleId}"
										th:rowspan="${moduleslist.submodule.size()}" class="td2"></td>
									<td th:text="${moduleslist.moduleName}"
										th:rowspan="${moduleslist.submodule.size()}" class="td3"></td>
									<td
										th:text="${articleCount>0}?${moduleslist.submodule[0].submoduleName}:''"
										class="td4"></td>
									<!-- <td th:if="${articleCount==0}" th:text="--"> -->
									<td
										th:text="${articleCount>0}?${moduleslist.submodule[0].productMapping}:''"
										class="td5"></td>
									<!-- <td th:if="${articleCount==0}" th:text="--"> -->
								</tr>
								<tr th:each="article,stats:${moduleslist.submodule}">
									<td th:text="${article.submoduleName}"></td>
									<td th:text="${article.productMapping}"></td>
								</tr>
							</div>






						</tbody>
					</table>



				</div>
				<div style="text-align: center; margin-top: 35px;">
					<button class="button" id="idExport" name="export">Export</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>