<html>
<head>
	<link rel="stylesheet" href="css/questions.css">
	<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script src="js/questions.js"></script>
</head>
<body class="closed-menu">

	<nav class="vertical-menu-wrapper">
		<div class="vertical-menu-logo">
			<div id="idCompName" style="visibility: hidden; color: #379ece;">LTIMindtree</div>
			<span class="open-menu-btn">
				<hr id="burger1" />
				<hr id="burger2" />
				<hr id="burger3" />
			</span>
		</div>
		<ul class="vertical-menu">
			<li>Home</li>
			<li><a href="/estimation">Estimation</a></li>
			<li>RFP Questions</li>
			<li>RFP Assumptions</li>
		</ul>
		<button id="idBtnQueries" name="btnQueries">Ask Queries</button>
		<ul class="vertical-menu">
			<li id="user-info">LTIMindtree<span>LTI</span></li>
		</ul>
	</nav>

	<div class="content-wrapper">
		<div class="contentH">

			<div class="topBar">
				<img class="logo" src="images/LTI_Logo.png">
				<p class="topBar-Text">Project Estimation</p>
			</div>

		</div>
		<div class="content">
			<form id="idForm">
				<div id="idParentDiv">

					<table id="idQuestions">
						<tr>
							<th class="td1">Select All<br>
								<input type="checkbox" id="idSelectAll"/>
							</th>
							<th class="td2">Sr. No.</th>
							<th class="td3">Category</th>
							<th class="td4">Questions</th>
							<th class="td5">Question Type</th>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions" value="1"/></td>
							<td>1</td>
							<td>Development</td>
							<td>Does the bank have online banking and a mobile app?</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>2</td>
							<td>Development</td>
							<td>Where are the bank’s branches?</td>
							<td>Sweden</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>3</td>
							<td>Development</td>
							<td>What are the bank’s fees?</td>
							<td>Mexico</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>4</td>
							<td>Development</td>
							<td>What are the minimum balance requirements?</td>
							<td>Austria</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>5</td>
							<td>Testing</td>
							<td>Helen Bennett</td>
							<td>UK</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>6</td>
							<td>Development</td>
							<td>Philip Cramer</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>7</td>
							<td>Development</td>
							<td>Yoshi Tannamuri</td>
							<td>Canada</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>8</td>
							<td>Development</td>
							<td>Giovanni Rovelli</td>
							<td>Italy</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>9</td>
							<td>Development</td>
							<td>Simon Crowther</td>
							<td>UK</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>10</td>
							<td>Development</td>
							<td>Marie Bertrand</td>
							<td>France</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>11</td>
							<td>Development</td>
							<td>Christina Berglund</td>
							<td>Sweden</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>12</td>
							<td>Development</td>
							<td>Francisco Chang</td>
							<td>Mexico</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>13</td>
							<td>Development</td>
							<td>Roland Mendel</td>
							<td>Austria</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>14</td>
							<td>Development</td>
							<td>Helen Bennett</td>
							<td>UK</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>15</td>
							<td>Testing</td>
							<td>Philip Cramer</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>16</td>
							<td>Development</td>
							<td>Yoshi Tannamuri</td>
							<td>Canada</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>17</td>
							<td>Development</td>
							<td>Giovanni Rovelli</td>
							<td>Italy</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>18</td>
							<td>Development</td>
							<td>Simon Crowther</td>
							<td>UK</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="questions"/></td>
							<td>19</td>
							<td>Development</td>
							<td>Marie Bertrand</td>
							<td>France</td>
						</tr>
					</table>



				</div>
				<div style="text-align: center; margin-top: 35px;">
					<button class="button" id="idExport" name="export">Export</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>