	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{css/risk.css}">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script> -->
		<script th:src="@{js/risk.js}"></script>
	</head>
	<body class="closed-menu">

		<nav class="vertical-menu-wrapper">
			<div class="vertical-menu-logo">
				<div id="idCompName" style="visibility: hidden; color: #379ece;">LTIMindtree</div>
				<span class="open-menu-btn">
						<hr id="burger1" />
						<hr id="burger2" />
						<hr id="burger3" />
					</span>
			</div>
			<ul class="vertical-menu">
				<li><a href="/home">Home</a></li>
				<li><a href="/getList">Module List</a></li>
				<li><a href="/getEstimation">Estimation</a></li>
				<li><a href="/getQuestion">RFP Questions</a></li>
				<li><a href="/getAssumption">RFP Assumptions</a></li>
				<li><a href="/getRisk">Risk</a></li>
			</ul>
			<button id="idBtnQueries" name="btnQueries">Ask Queries</button>
			<ul class="vertical-menu">
				<li id="user-info">LTIMindtree<span>LTI</span></li>
			</ul>
		</nav>

		<div class="content-wrapper">
			<div class="contentH">
				<div class="topBar">
					<img class="logo" src="images/LTI_Logo.png">
					<p class="topBar-Text">Project Estimation</p>
				</div>
			</div>

			<div class="content">
				<form id="idForm">
					<div id="idParentDiv">

						<table id="idQuestions">
							 <thead>
								<tr>
									<th class="td1">Select All<br>
										<input type="checkbox" id="idSelectAll"/>
									</th>
									<th class="td2">Sequence No.</th>
									<th class="td3">Category</th>
									<th class="td4">Risk</th>
									<th class="td5">Matigation</th>
								</tr>
							</thead>
							<tbody>
								<div th:remove="tag" th:each="risk:${riskList}">
									<tr>
										<td th:rowspan="${risk.matigation.size()+1}">
										  <input type="checkbox" name="question" class="checkBoxClass" value="${risk.riskId}">
										</td>
										<td th:rowspan="${risk.matigation.size()+1}" th:text="${risk.riskId}"></td>
										<td th:rowspan="${risk.matigation.size()+1}" th:text="${risk.riskCategory}"></td>
										<td th:rowspan="${risk.matigation.size()+1}" th:text="${risk.riskName}"></td>
									</tr>
									<tr th:each="mitigation : ${risk.matigation}">
										<td th:text="${mitigation.matigationName}"></td>
									</tr>

										</td>
									</tr>
								</div>
								<!--<tr>
									<td th:text="${risk}"></td>
								</tr>-->
							</tbody>
						</table>



					</div>

					<div style="text-align: center; margin-top: 35px;">
						<button class="button" id="idExport" name="export">Export</button>
					</div>
				</form>
			</div>
		</div>

	</body>
	</html>